<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="CognitiveDemo.Droid" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="23" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="CognitiveDemo" android:allowBackup="true" android:hardwareAccelerated="true" android:theme="@style/Theme.AppCompat">
		<meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="face" />
	  <provider android:name="android.support.v4.content.FileProvider"
	            android:authorities="${applicationId}.fileprovider"
	            android:exported="false"
	            android:grantUriPermissions="true">

	    <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
	               android:resource="@xml/file_paths"></meta-data>
	  </provider>
	</application>
</manifest>